[Unit]
Description=SEPraisal Server

[Service]
User=ubuntu
Environment=PATH=/snap/bin:/opt/ubuntu/node/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/ubuntu/sepraisal/workspaces/server/utils/start.sh
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target

