## URL to API
## - local development: http://localhost:3000
## - public server: 'https://db.spaceengineerspraisal.net/hello'
API='https://db.spaceengineerspraisal.net/hello'

## For tracking.
MATAMO_URL=
MATAMO_SITE_ID=

## Misc
SERVICE_DESK_EMAIL=

## AWS Bucket name, for use in package.json deploy script to upload build files.
BUCKET_URL=

## AWS Distribution ID, for use in package.json deploy script to invalidate cache.
DISTRIBUTION_ID=
